html{
  height:100%;
}
body{
  height: 100%;
  min-width:768px;
  line-height: 1rem;
  background-color:#fff;
  color: #555459;
  padding:0;
  overflow-y:hidden;
  overflow-x: hidden;
  user-select: none;
  margin:0;
  display: block;
  box-sizing: border-box;
  font-family: 'Quattrocento Sans';
}
#client_ui{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}
.container-fluid{
  padding-right: 0;
  padding-left: 0;
}
.client_container{
  display: flex;
  flex-grow: 1;
  overflow:hidden;
}
/*left sidebar*/
.client_channels_list_container{
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 220px;
  flex-shrink: 0;
  max-width: 1px;
  max-width: 260px;
  background: #2b90d9;
  z-index: 201;
  border-right: 1px solid #2b90d9;
  box-sizing: content-box;
  visibility: visible;
}
#team_menu{
  cursor: pointer;
  font-size: 1rem;
  background: #2660A4;
  font-weight: 700;
  padding: 0 1rem;
  color: #fff;
  border-bottom: 1px solid #1f79ba;
  position: relative;
  z-index: 50;
  flex-basis: 61px;
  flex-shrink: 0;
}
#team_menu:hover{
  background:#235896;
}
#team_menu .team_name_container{
  display: flex;
  margin-bottom: -2px;
  margin-top: .5625rem!important;
  line-height: 1.075rem
}
#team_menu>*{
  opacity: 1;
  transition: opacity .2s ease 0s;
}

#team_menu .team_name_caret{
  order: 1;
  outline: 0;
  color: #cfcece;
}
.btn_unstyle{
  background: 0;
  border: none;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}
button{
  margin:0;
  display: inline-block;
  font-size: 13.33px;
  vertical-align: middle;
}
#team_menu #team_name{
  font-size: 18px;
  line-height: 1.375rem;
  max-width: 9.12rem;
  font-weight: 500;
}
.overflow_ellipsis{
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;;
}
#team_menu_user{
  position: relative;
  margin-top: 2px;
  color: #fff;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  z-index: 1;
}
#presence_container{
  float: left;
  margin-left: -5px;
  margin-right: 1px;
  width: 20px;
  height: 1.3125rem;
  text-align: center;
}
.no_wrap{
  white-space: nowrap;
}
.ts_tip{
  display: inline-block;
  position: relative;
  z-index: 1;
}
#presence{
  display: inline-block;
  position: relative;
  width: 9px;
  height: 9px;
}
#team_menu_user_details{
  display: flex;
}
#team_menu_user_details #team_menu_user_name{
  flex: 0 1 auto;
}
 #team_menu .team_name_caret:hover{
  font-weight: 500;
  color: #fff;
}

.overflow_ellipsis{
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
/*lower side*/
#col_channels{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #AB9BA9;
  width: 220px;
  float: left;
  position: relative;
  flex-grow: 1
}
.flex_one{
  flex:1;
}
.flex_direction_column{
  flex-direction: column;
}
.display_flex{
  display: flex;
}
.p-channel_sidebar{
  background: #2660A4;
  color: rgb(184,176,183);
  width: 220px;
  flex: 1;
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.p-channel_sidebar_list{
  flex: 1;
}

.p-channel_sidebar_quickswitcher{
  background: none;
  border: 0;
  color: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  height: 4rem;
  opacity: 1;
  transition: color 0.1s ease-out
}
.c-scrollbar{
  position: relative;
  overflow: hidden;
}
.c-scrollbar__hider{
  overflow-y:scroll;
  overflow-x: hidden;
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  right: -20px;
  bottom: 0;
}
.p-channel_sidebar_static_list{
  outline: none;
}
/*Home*/
.p-channel_sidebar__link{
  color:#fff;
  display: flex;
  align-items: center;
  height: 26px;
  line-height: 26px;
  padding: 0 0.75rem 0 15px;
  width: 100%;
  background: none;
  border: 0;
  font-size: 18px;
  overflow-y: visible;
}
button{
  margin:0;
  vertical-align: middle;
}
.p-channel_sidebar__name{
  margin-right: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  opacity: 1;
}
.p-channel_sidebar__link:hover{
  background: #235896;
}
.p-channel_sidebar__link:focus{
  outline: none;
}
/*task*/
.p-channel_sidebar__section_heading{
  padding: 0 0.75rem 0 15px;
  margin: 0;
  width: 100%;
  height: 26px;
  display: flex;
  align-items: center;
}
.p-channel_sidebar__section_heading_label{
  background: none;
  border: 0;
  color: #D0D0D0;
  font-size: 17px;
  overflow: visible;
  padding: 0;
  font-weight: 500;
  line-height: 1;
  display: block;
  opacity: 1;
  text-align: left;
  width: 100%;
  transition: color 0.1 ease-out;
}
.p-channel_sidebar__section_heading_label:hover{
  color: #fff;
  cursor: pointer;
}
.p-channel_sidebar__section_heading_label:focus{
  outline: none;
}
.p-channel_sidebar__section_heading_right{
  margin-left: auto;
}
.p-channel_sidebar__section_heading_plus{
  background: none;
  border: 0;
  color: #D0D0D0;
  overflow: visible;
  padding: 0 30px 0 0 ;
  line-height: 100%;
}
.p-channel_sidebar__section_heading_plus:hover{
  color: #fff;
  cursor: pointer;
}
/*new task dialog*/
#fs_modal_bg.active{
  top: 0;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(.2,.8,.5,1),top 0s linear 0s,left 250ms ease-in-out;
}
#fs_modal_bg{
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;
  z-index: 1040;
}
#fs_modal.active{
  top: 0;
  opacity: 1;
  transform: translateY(0);
}
#fs_modal{
  position: fixed;
  right: 0;
  border: 0;
  left: 0;
  z-index: 1041;
  font-size: 18px;
  height: 100%;
  line-height: 1.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
}
/*closed btn*/
#fs_modal .fs_modal_btn#fs_modal_close_btn{
  right: 3rem;
}
#fs_modal_close_btn:hover{
  background-color:  #E7E7E7;
  border-radius: 50%;
  cursor: pointer;
}
#fs_modal .fs_modal_btn{
  position: absolute;
  top: 3rem;
  width: 4rem;
  height: 4rem;
  z-index: 1;
  text-align: center;
  color: #717274;
  font-size: .8rem;
  line-height: 1.5rem;
  border-radius: 100%;
  user-select: none;
}
a{
  text-decoration: none;
}
#fs_modal .fs_modal_btn .ts_icon{
  position: absolute;
  top: .5rem;
  left: 0;
  width: 100%;
  margin-left: 13px;
  display: block;
}
#fs_modal .fs_modal_btn .key_label{
  position: absolute;
  top: 2.25rem;
  left: 0;
  width: 100%;
  display: block;
}

/*contents*/
#fs_modal .contents_container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border: 0;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items:flex-start;
  padding: 15vh 2rem 2rem;
}
#fs_modal .contents_container .contents{
  width: 640px;
  max-width: 100%;
  padding-bottom: 2rem;
}
/*heading creat task*/
#fs_modal h1{
  color: #555555;
}
.channel_modal_header{
  font-size: 34px;
  line-height: 41px;
  font-weight: 700px;
}
h1{
  margin: 0 0 1rem;
}
/*note*/
.input_note_special{
  font-size: 16px;
  line-height: 18px;
  color: #717274;
  margin-top: 1rem;
}
.medium_bottom_margin{
  margin-bottom: 1.5rem;
}
/*form input*/
.bottom_margin{
  margin-bottom: 1rem;
}
.align_left{
text-align: left;
}
label{
  font-weight: 600;
  margin: 0 0 .3rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
.channel_modal_title_input_container{
  position: relative;
}
.no_margin{
  margin: 0!important;
}
.channel_modal_title_input_container .channel_icon{
  position: relative;
  top: 10px;
  left: 9px;
}
.subtle_silver{
  color: #9e9ea6;
}
#new_channel_modal input[type=text]{
  font-size: 18px;
  margin-bottom: 0;
}
input[type=text]{
  line-height: normal;
  padding: .75rem;
  border: 1px solid #B9B9B9;
  border-radius: .25rem;
  outline: 0;
  color: #555459;
  width: 100%;
  max-width: 100%;
  margin: 0 0 .5rem;
  box-shadow: none;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
}
input[type=text]:focus{
  border: 1px solid #858586;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #cacaca;
  font-weight: 200;
  font-style: normal;
}
.large_left_padding{
  padding-left: .2rem;
}
.lowercase{
  text-transform: lowercase;
}
.modal_input_note{
  font-size: .8rem;
  color: #717274;
  display: block;
  line-height: 1rem;
  margin-top: .25rem;
}
.margin_auto{
  margin-left: auto;
  margin-right: auto;
}
.medium_bottom_margin {
    margin-bottom: 1.5rem!important;
}
.block {
    display: block!important;
}
.greigh{
  color: #717274;
}
.normal{
  font-weight: 400;
}
/*footer*/
.new_channel_modal_footer{
  padding-top: .75rem;
}
/*button*/
.channel_modal .btn_large{
  padding-left: 18px;
  padding-right: 18px;
}
.btn_large{
  padding: 14px 32px 16px;
  font-size: 20px;
}
.btn{
  background: #567768;
  color: #fff;
  font-weight: 500;
  line-height: 1.2rem;
  user-select: none;
  text-decoration: none;
  border: none;
  border-radius: .25rem;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
  margin: 0;
}
.float_right{
  float: right;
}
.ladda_button{
  transition: .3s cubic-bezier(.175,.885,.32,1.275) padding!important;
}
.btn_outline{
  background: #FBFBFA;
  color: #555459;
  border: 1px solid #E7E7E7;
  font-weight: 500;
  text-shadow: none;
}
.small_right_margin{
  margin-right: .5rem;
}
.btn_outline:hover{
  outline: none;
  background: #E7E7E7;
  border: 1px solid #F6F7EB;
}
.btn_outline:focus{
  outline: none;
  border: 1px solid #F6F7EB;
}
































/*****************/
